<!-- Class Details -->
<div class="container">
    <div class="section">
        <div class="row">
            <!-- Column 1 -->
            <div class="col s12 m6 center">
                <img src="{{data.photo}}" class="details-photo">

                <a id="paymentButton" class="waves-effect waves-light btn-large signup-btn" data-id="{{data.id}}">Sign Up For This Class</a>
                {{!-- <form action="/" method="">

                    <script
                        src="https://checkout.stripe.com/checkout.js" data-id="{{data.id}}" class="stripe-button"
                        data-key="pk_test_3kQuYbD9iDbwfdk6squr49KV"
                        data-amount="{{data.price}}"
                        data-name="classUp.com"
                        data-description="Payment For {{data.title}}"
                        data-image="https://image.ibb.co/fmk0n9/classup_stripe_logo.png"
                        data-locale="auto"
                        data-zip-code="true">
                    </script>
                </form> --}}
            </div>
            <!-- Column 2 -->
            <div class="col s12 m6">
                <h4 class="comfortaa bold">{{data.title}}</h4>
                <p>{{data.description}}</p>
                <table>
                    <tr>
                        <td class="comfortaa bold golden-text">Instructor:</td>
                        <td>{{data.instructor}}</td>
                    </tr>
                    <tr>
                        <td class="comfortaa bold golden-text">Date:</td>
                        <td>{{data.dateMod}}</td>
                    </tr>
                    <tr>
                        <td class="comfortaa bold golden-text">Time:</td>
                        <td>{{data.starttimeMod}} - {{data.endtimeMod}}</td>
                    </tr>
                    <tr>
                        <td class="comfortaa bold golden-text">Location:</td>
                        <td>{{data.location}}</td>
                    </tr>
                    <tr>
                        <td class="comfortaa bold golden-text">Price Per Person:</td>
                        <td>${{data.price}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_3kQuYbD9iDbwfdk6squr49KV',
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    token: function(token) {
      $.ajax({
        type: "POST",
        url: "/api/charge",
        contentType: "application/json",
        dataType: "json",
        data: JSON.stringify({
          source: token.id,
          product: {
            amount: {{data.price}} * 100,
        currency: 'usd',
        description: `{{data.description}}`,
    }
    }),
      success: function(data, textStatus, jqXHR) {
        window.location = "/classes";
      },
      error: function(jqXHR, textStatus, errorThrown) {
        var errorMessage = jqXHR.responseJSON.err
      }
    })
      // You can access the token ID with `token.id`.
      // Get the token ID to your server-side code for use.
    }
  });
  document.getElementById("paymentButton").addEventListener('click', function(e) {
    // Open Checkout with further options:
    handler.open({
      name: `{{data.title}}`,
      description: `{{data.description}}`,
      amount: {{data.price}} * 100
  });
    e.preventDefault();
  });
  // Close Checkout on page navigation:
  window.addEventListener('popstate', function() {
    handler.close();
  });
</script>