<!-- Class Details -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m6 center">
                <img src="{{data.photo}}" class="details-photo">
                <a id="regbutton" class="waves-effect waves-light btn-large signup-btn" data-id="{{data.id}}">Sign Up For This Class</a>
            </div>
            <div class="col s12 m6">
                <h4 class="comfortaa bold">{{data.title}}</h4>
                <h6><span class="comfortaa bold">Instructor: </span>{{data.instructor}}</h6>
                <hr>
                <p>{{data.description}}</p>
                <h6><span class="comfortaa bold">Date: </span>{{data.date}}</h6>
                <h6><span class="comfortaa bold">Time: </span>{{data.starttime}} to {{data.endtime}}</h6>
                <h6><span class="comfortaa bold">Location: </span>{{data.location}}</h6>
                <h6><span class="comfortaa bold">Spaces Available: </span>{{data.maxStudents}}</h6>
                <h6><span class="comfortaa bold">Price Per Person: </span>{{data.price}}</h6>
            </div>
        </div>
    </div>
</div>