<!-- Class Details -->
<div class="container">
    <div class="section">
        <div class="row">
            <!-- Column 1 -->
            <div class="col s12 m6 center">
                <img src="{{data.photo}}" class="details-photo">
                <a class="waves-effect waves-light btn-large signup-btn" data-id="{{data.id}}">Sign Up For This Class</a>
                            <form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" data-id="{{data.id}}" class="stripe-button"
    data-key="pk_test_3kQuYbD9iDbwfdk6squr49KV"
    data-amount="{{data.price}}"
    data-name="classUp.com"
    data-description="charge for {{data.title}}"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
</form>
            </div>
            <!-- Column 2 -->
            <div class="col s12 m6">
                <h4 class="comfortaa bold">{{data.title}}</h4>
                <p>{{data.description}}</p>
                <table>
                    <tr>
                        <td class="comfortaa bold golden-text">Instructor:</td>
                        <td>{{data.instructor}}</td>
                    </tr>
                    <tr>
                        <td class="comfortaa bold golden-text">Date:</td>
                        <td>{{data.dateMod}}</td>
                    </tr>
                    <tr>
                        <td class="comfortaa bold golden-text">Time:</td>
                        <td>{{data.starttimeMod}} - {{data.endtimeMod}}</td>
                    </tr>
                    <tr>
                        <td class="comfortaa bold golden-text">Location:</td>
                        <td>{{data.location}}</td>
                    </tr>
                    <tr>
                        <td class="comfortaa bold golden-text">Spaces Available:</td>
                        <td>{{data.maxStudents}}</td>
                    </tr>
                    <tr>
                        <td class="comfortaa bold golden-text">Price Per Person:</td>
                        <td>${{data.price}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>